/* ======HEADER===== */
:root {
  --main-font-family: "Roboto", sans-serif;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --font-color-dark-theme: #ffffff;
  --font-color-logo: #000000;
  --font-color-address: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-background-color: #c4c4c4;
  --secondary-background-color: #f5f4fa;
  --team-card-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --model-btn-hover-color: #188ce8;
  --card-item: 3;
  --card-gap: 30px;
}
body {
  font-family: var(--main-font-family);
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}
.logo > .logo-black {
  color: var(--font-color-logo);
}

.header-nav-link:hover,
.header-nav-link:focus,
.current {
  color: var(--accent-color);
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.header .logo {
  margin-right: 94px;
}
.header {
  border: 1px solid #ececec;
}
.header-nav-list {
  color: var(--main-font-color);
  display: flex;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list .header-nav-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.contact-list > .nav-list-item:not(:last-child) {
  margin-right: 30px;
}
.header-nav-icon {
  fill: var(--secondary-font-color);
  margin-right: 10px;
}
.header-nav-link:hover .header-nav-icon,
.header-nav-link:focus .header-nav-icon {
  fill: var(--accent-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ======MAIN====== */
/* HERO */
.hero {
  background-color: var(--primary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-img.jpg);
  background-size: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--font-color-dark-theme);

  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.model-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--font-color-dark-theme);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-btn:hover,
.model-btn:focus {
  color: var(--font-color-dark-theme);
  background-color: var(--model-btn-hover-color);
}
/* BENEFIT */
.benefit-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 10px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--card-gap) * -1);
  margin-left: calc(var(--card-gap) * -1);
}
.card-set-item {
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);
}
.benefit {
  padding-bottom: 0px;
  --card-item: 4;
}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
/* WORK */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 50px;
}
/* TEAM */
.team {
  background-color: var(--secondary-background-color);
  --card-item: 4;
}
.team-item-title {
  font-weight: 500;
  color: var(--main-font-color);
  margin-bottom: 10px;
}
.team-description,
.team-item-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-description {
  margin-bottom: 16px;
}
.team-photo-description {
  background-color: var(--team-card-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  color: white;
  background-color: var(--accent-color);
}
.social-icon,
.clients-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link {
  display: flex;
  justify-content: space-between;
}
/* CLIENTS */

.clients {
  --card-item: 6;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* ======PORTFOLIO====== */
.projects-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-button:hover,
.projects-button:focus,
.active-btn {
  color: var(--font-color-dark-theme);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-button-item:not(:last-child) {
  margin-right: 8px;
}
.projects-item-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
  margin-bottom: 4px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.87;
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
/* ======FOOTER====== */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo > .logo-white {
  color: var(--font-color-dark-theme);
}
.address {
  display: flex;
  font-style: inherit;
}
.address-link {
  color: var(--font-color-address);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link[target="_blank"] {
  color: var(--font-color-dark-theme);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer .logo {
  margin-bottom: 20px;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-item:not(:last-child) {
  margin-right: 70px;
}
.footer .social-icon {
  fill: var(--font-color-dark-theme);
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}
.social-text {
  color: var(--font-color-dark-theme);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* ======FOOTER-END====== */
